header {
    margin-block-end: 1em;
    padding: 1em;
    display: flex;
    align-items: center;

    background-color: steelblue;
}

header h1 {
    margin-inline-end: auto;
}

header nav {
    display: flex;
    gap: 1em;
    color: black;
}

.active {
    color: white;
}