.book-details {
    margin-block-start: 1em;
    width: 300px;
    padding: 1em;
    display: grid;
    justify-content: center;
    background-color: orange;
    text-align: center;
}

.book-details button {
    margin-block-start: 1em;
    justify-self: end;
}