.book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.book-list li {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: lightblue;
}

.book-list li .actions-btn {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.book-list li .actions-btn > button {
    background-color: rgb(218, 18, 18);
}