.book-details {
    /* height: 85vh; */
    margin-block-start: 1em;
    width: 500px;
    padding: 1em;
    display: grid;
    justify-content: center;
    background-color: orange;
    text-align: center;
}

.book-details img {
    height: 80%;
    margin: 1em auto;
}

.book-details button {
    margin-block-start: 1em;
    justify-self: end;
}

.book-details .expensive {
    color: red;
}

.book-details .cheap {
    color: green;
}

.book-details .on-sale-sign {
    border: 2px solid greenyellow;
    background-color: rgb(25, 166, 25);
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

.book-details .actions {
    display: flex;
    gap: 10px;
}

.book-details .actions a:last-child {
    margin-inline-start: auto;
}

.book-details .actions button:not(.close-details-btn) {
    background-color: gold;
}

.book-details .add-review-btn {
    background-color: lightgreen;
}